body{
  background-color: purple;
}

#searchBar{
  text-align: center;
  margin: 50px;
  background-color: gray;
  font-size: 24pt;
}

#categories{
  margin: 50px;
  background-color: gray;
  font-size: 24pt;
}
#categoryBar{
  width: 100%;
  background-color: gray;
  margin-bottom: 15px;
}
