#messageForm{
  width: 30%
}
#msgPage{
}
#msgContainer{
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%
}
#msg{
margin-top: 20px;
}
#msgtext{
  color: white
}

#msginput{
  width: 50px;
}
#construct{
  font-size: 20px;
  color:white;
}
#user{
  font-size: 20px;
  color:white;
}
