#InputField{
  background: gray;
  border: 5px solid black;
  border-radius: 15px;
}
#Form{
  padding: 5%;
}
#FormELement{
  color: red;
}
#Label{
  font-size: 32px;
}
#LoginButton{
  color: #D4AF37;
  float: right;
}
/* .form-control{
  margin-left: 400px; */
/* } */
