#listings{
  padding-left: 50px;
  margin: auto;
  background-color: gray;
  font-size: 18pt;
}
#cardimg{
  padding: 10px;
  border-radius: 25px;
}
#cardlisting{
  background-color: grey;
  border: solid white 3px;
}
#cardbody{
  background-color: #D4AF37;
}
#cardCol{
  margin: 10px;
}
#cardimg{
  align-items: center;
  max-width: 300px;
  max-height: 300px;
}
#cardbody{
  min-width: 350px;
  min-height: 350px;
  max-width: 350px;
  max-height: 350px;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
  border-color: black;
}
#cardtext{
  max-width: 300px;
}
#cardtitle{
  font-weight: bold;
  font-size:35px;
}
#cardsubtitle{

  margin: 5px;
  font-size: 25px;



}
