#searchBar{
  margin: 50px;
  text-align: center;
  background-color: gray;
  font-size: 18pt;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
  border-radius: 3px;
  min-width: 500px;
}
#searchCol{
  width: 100%;
  float: right;
}
#searchForm{
  width: auto;
}
#searchInput{
  width: 80%;
}
#searchButton{
  margin-bottom: 3px;
  margin-left: 10px;
  background-color: grey;
  border: 2px solid white;
}
#categoryDropdown{
  position: relative;
  margin-right: 10px;
  background-color: grey;
  border: 2px solid white;
}
