#header{
  background-color: gray;
}

#SellDash {
  float: left;
  font-size: 30px;
}

#AdminDash {
  float: left;
  font-size: 30px;
}

#HomeButton{
  float: left;
  font-size: 40px;
}

#SellButton{
  float: right;
  font-size: 30px;
}
#UsernameButton{
  float: right;
  font-size: 30px;
}
#NavMain{
  float: right;
  width: 100%;
  -webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}
.nav-item{
  margin-right: 10px;
}
